/* headings */

h1 {
  color: #0431B4;
  font-weight: bold;
}

h2 {
  color: #045FB4;
}

h3 {
  color: #2E9AFE;
}

h4 {
  color: #81BEF7;
}

/* table of contents */

#TOC ul {
    color: #0431B4;
    font-weight: bold
  }
  #TOC ul ul {
    color: #045FB4;
  }
  #TOC ul ul ul {
    color: #2E9AFE;
  }
  #TOC ul ul ul ul {
    color: #81BEF7;
  }
